<div class="jumbotron written-content">
    <h1> FAQ </h1>
    <div class="container text-justify">
	<div class="row">
	    <h3>Who made this website ?</h3>
	    <p>
	    My name is Thomas, I'm a french software engineer. I discovered the morning pages taking Julia Cameron's course <i><a href="http://www.goodreads.com/book/show/615570.The_Artist_s_Way">The artist's way</a></i> about creativity recovery.
	    I found it a lot of <a href="#benefits">benefits</a>. So I decided to give others a chance to discover it.
	    </p>

	    <h3>Is it free ?</h3>
	    <p>
	    It is ! I give it to you guys and that's my pleasure.
	    </p>

	    <h3>Why would I prefer writing online rather than longhand writing?</h3>
	    <p>
	    Privacy. Your paper notebook is not password-protected and these pages are very private. Do not let someone find it in your bedroom.
	    </p>

	    <h3>Who can read my writings?</h3>
	    <p>
	    You and just you.
	    Your texts are encrypted before getting written to the database. In a near future you will be able to chose your own encryption key so even I won't be able to read your writings.
	    </p>

	    <h3>I don't have time !</h3>
	    <p>
	    You decide where your time goes. Here, time you invest is time for fun and self care. Can you imagine how much time you save doing things with a calm and clear mind, improved attention and memory? And how enjoyable it is?
	    </p>

	    <h3 id="benefits">What are the benefits?</h3>
	    <p>
	    They are legion. As a short term benefit, morning pages is unarguably a stress crusher. As long as it becomes a habit, you'll recover a sense of safety, identity, strength, compassion and much more. Whole books got written on the subject.
	    <span class="quote">“It is impossible to write morning pages for any extended period of time without coming into contract with an unexpected inner power”</span> Cameron wrote.
	    And who knows, maybe you will find and choose there your meaning of life ? (check out this short and excellent <a href="http://highexistence.com/hunter-s-thompsons-monumental-letter-on-how-to-find-meaning-and-purpose-in-life/">article</a>)
	    <span class="quote">“A man who procrastinates in CHOOSING his life will inevitably have his choice made for him by circumstance”</span>
	    </p>

	    <h3>Are there rules ? When/How many words/How much time should I write ?</h3>
	    <p>
	    It's up to you !
	    Once you get the trick, write as you feel you need it. that's it !
	    The correctness/spelling and quality of what you write do not matter. Just express yourself.
	    </p>

	    <h3 id="tips">I'm stuck :(</h3>
	    <p>
	    How do you feel ? (today/this week/in general) Write about that and ask ou why. <span class="quote">“I'm feeling happy/calm/nervous/sleepy/empty today. I don't know why... was it like this 10 years ago.... ? So many things happened... I feel...”</span> Get lost into your thoughts.
	    ...or just write a remake of <i>The Jungle Book</i> if you feel inspired :)
	    </p>
	</div>
    </div>
</div>
