<div class="col-xs-12 col-sm-10 col-sm-offset-1 table-responsive borderless">
    <div class="row">
	<table class="table">
	    <tbody>
		<tr >
		    <% current_user.pages.order(:date).last(8).each do |p| %>
			<td class="text-center" > <%= link_to image_tag("note.png"), edit_user_page_path(current_user,p),class: "note-img" %>
			<br/>
			<%= p.date.strftime('%d/%m/%y') %> </td>
		    <% end %>
		    <% if !@_controller.today_page_exists? %>
			<td class="text-center" > <%= link_to image_tag("note.png"), new_user_page_path(current_user),class: "note-img" %>
			<br/>
			<%= Date.today.strftime('%d/%m/%y') %> </td>
		    <% end %>
		</tr>
	    </tbody>
	</table>
    </div>
</div>
